.tweets {
  margin: 0px 2em;
}

.tweets article {
  border-radius: 5px;
  border: 1px solid black;
  overflow: hidden;
  margin: 10px auto;
  opacity: 0.75;
}

.tweets header {
  background: #f3f3f3;
  display: grid;
  grid-template-columns: 80px 1fr 90px;
}

.tweets footer {
  border-top: 1px solid lightgrey;
  padding: 5px;
}

.tweets p {
  padding: 5px;
}

.userimage {
  border-radius: 5px;
  overflow: hidden;
  margin: auto auto;
}

.userimage img {
  vertical-align: top;
}

.tweets article:hover {
  opacity: 1;
}
